.active-facets__button-inner svg path{
    transition: 0.3s ease;
}
.facets__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0;
  padding: 0px 10px 15px 0;
  margin: 0 0 15px;
}
span.facets__selected.price-header {
    font-size: 13px;
}
.facet-filters__label {
    display: block;
    margin: 0;
}
.facet-filters__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    cursor: pointer;
    height: 4.5rem;
    padding: 0 1.5rem;
    min-width: 25rem;
    margin-top: 2.4rem;
    border: 0.1rem solid var(--border-color);
}
.facet-filters__summary::after {
    position: static;
}
.facet-filters__field {
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.facet-filters button {
    margin-left: 5px;
}
.js #main-collection-filters menu-drawer > details > summary::before{
    background-color: transparent;
}
.no-js .facet-filters__sort:focus:not(:focus-visible),.no-js .mobile-facets__sort .select__select:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}
.facet-filters__sort + .icon-caret {
    right: 10px;
    width: 10px;
}
.facets {
    display: block;
    grid-column-start: span 2;
}
.facets__reset {
    margin-left: auto;
}
.facets__summary {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.facets__disclosure[open] .facets__display {
  animation: animateMenuOpen .4s ease;
  display: block;
}
.facets__summary span {
    transition: text-decoration .4s ease;
}
.disclosure-has-popup[open] > .facets__summary::before {
    z-index: 2;
}
.facets__summary.caption-large h4{
  font-size: unset;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.facets__item label,.facets__item input[type='checkbox'] {
    cursor: pointer;
}
.facet-checkbox {
    padding: 0;
    flex-grow: 1;
    position: relative;
    word-break: break-word;
    transition: 0.3s ease;
}
.facets__list .facets__item:last-child .facet-checkbox{
    margin-bottom: 0;
}
.facets-color .facet-checkbox>input[type=checkbox]:checked~.feather-check {
    color: #aaa;
}
.facet-checkbox input[type='checkbox'] {
  display: block !important;
  position: absolute;
  opacity: 1;
  width: 20px;
  height: 20px;
  top: 0px;
  left: -1px;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0 10px 0 0;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.facet-checkbox > svg {
  background-color: var(--white);
  width: 16px;
  height: 16px;
  transition: .3s ease;
  opacity: 0;
  overflow: hidden;
  vertical-align: middle;
  float: none;
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
}
.facet-checkbox .feather-check{
    visibility: hidden;
    position: absolute;
    left: 1px;
    z-index: 5;
    top: 2px;
    opacity: 1;
}
.facet-checkbox > input[type='checkbox']:checked ~ .feather-check{
    visibility: visible;
    color: #666;
    background: transparent;
    fill: none;
}

@media screen and (forced-colors: active) {
    .facet-checkbox > svg {
        background-color: inherit;
        border: 0.1rem solid var(--border-color);
    }
    .facet-checkbox > input[type='checkbox']:checked ~ .feather-check{
        border: none;
    }
}
.facet-checkbox--disabled {
    color: rgba(var(--theme-color),.5);
}
.facets__price {
    display: flex;
    color: rgba(var(--theme-color),.4);
}
.facets__price .field + .field-currency {
    margin-left: 0.5rem;
}
.facets__price .field {
  width: 100%;
  max-width: 50%;
  padding: 0 5px;
  font-size: 13px;
}
.facets__price .field-currency {
    align-self: center;
    margin-right: 5px;
}
.facets__price .field input {
    padding: 10px;
}
button.facets__button {
    min-height: 0;
    margin: 0 0 0 0.5rem;
    box-shadow: none;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}
.active-facets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 10px 10px 10px 0;
}
.active-facets__button {
    display: block;
    margin-right: 5px;
    margin-bottom: 10px;
}
.active-facets__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.active-facets__button svg {
    margin-left: .6rem;
    pointer-events: none;
}
.active-facets facet-remove:only-child {
    display: none;
}
.active-facets__button.disabled,
.mobile-facets__clear.disabled {
    pointer-events: none;
}
.mobile-facets__clear-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: auto;
  font-size: 13px;
}
button.no-js-hidden.common-btn2.apply-btn {
    padding: 10px 20px;
}
.mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
    height: 100vh;
    z-index: 3;
}
.mobile-facets__header {
  backgrounnd: var(--white);
  border-bottom: 1px solid var(--border-color);
  padding: 15px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}
.mobile-facets__header-inner {
  flex-grow: 1;
  position: relative;
}
.mobile-facets__info {
    padding: 0 5px;
}
.mobile-facets__wrapper .facets__price{
  margin: 10px 0 0;
}
.mobile-facets__heading {
    margin: 0;
    font-size: 22px;
}
.mobile-facets__count {
    font-size: 15px;
    margin: 5px 0 0;
    flex-grow: 1;
}
.mobile-facets__open {
  float:left;
  width: 100%;
  cursor: pointer;
}
.mobile-facets__open-label {
    transition: text-decoration .1s ease;
}
.mobile-facets__close-button {
    align-items: center;
    background-color: transparent;
    display: flex;
    font: inherit;
    letter-spacing: inherit;
    padding: 0 0 15px;
    text-decoration: none;
    width: calc(100% - 5.2rem);
}
.no-js .mobile-facets__close-button {
    display: none;
}
.mobile-facets__close-button .feather-arrow-right{
    transform: rotate(180deg);
    margin-right: 1rem;
}
.mobile-facets__main {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.no-js .mobile-facets__details {
    border-bottom: 1px solid var(--border-color);
}
.mobile-facets__highlight {
    opacity: 0;
    visibility: hidden;
}
.mobile-facets__checkbox:checked + .mobile-facets__highlight {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
}
.mobile-facets__summary {
    padding: 10px 15px;
}
.mobile-facets__summary > div,.facets__summary > div {
    display: flex;
    align-items: center;
}
.js .mobile-facets__submenu {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
    transform: translateX(100%);
    visibility: hidden;
    display: flex;
    flex-direction: column;
}
.js details[open] > .mobile-facets__submenu {
  transition: transform 0.4s cubic-bezier(0.29, 0.63, 0.44, 1),
  visibility 0.4s cubic-bezier(0.29, 0.63, 0.44, 1);
}
.js details[open].menu-opening > .mobile-facets__submenu {
  transform: translateX(0);
  visibility: visible;
}
.js .menu-drawer__submenu .mobile-facets__submenu {
  overflow-y: auto;
}
.mobile-facets__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
input.mobile-facets__checkbox {
  border: 1px solid var(--border-color);
  position: absolute;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  background: var(--white);
}
.mobile-facets__label {
  padding: 10px 0;
  width: 100%;
  display: flex;
  cursor: pointer;
  float: left;
}
.mobile-facets__label > svg {
    position: relative;
    z-index: 1;
    margin-right: 15px;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    border-radius: 0px;
  color: var(--white);
}
.mobile-facets__label .feather-check{
    position: absolute;
    visibility: hidden;
    color: #444;
    background: transparent;
    fill: none;
    border-radius: 0px;
    top: 13px;
    left: 18px
}
.mobile-facets__label > input[type='checkbox']:checked ~ .feather-check{
    visibility: visible;
    z-index: 3;
}
.mobile-facets__arrow,.mobile-facets__summary .icon-caret {
    margin-left: auto;
    display: block;
}
.mobile-facets__label--disabled {
    opacity: 0.5;
}
.mobile-facets__list.list-unstyled {
    overflow-x: hidden;
}
.mobile-facets__footer {
  background: #fff;
  border-top: 1px solid var(--border-color);
  padding: 15px;
  bottom: 0;
  position: sticky;
  display: flex;
  z-index: 2;
  margin-top: 15px;
  justify-content: center;
}
.mobile-facets__footer > * + * {
    margin-left: 15px;
}
.mobile-facets__sort {
    display: flex;
    justify-content: space-between;
}
.mobile-facets__sort label {
    flex-shrink: 0;
    margin: 0;
}
.mobile-facets__sort .select {
    width: auto;
}
.no-js .mobile-facets__sort .select {
    position: relative;
}
.mobile-facets__sort .select__select {
    box-shadow: none;
    border-radius: 4px;
    height: 40px;
    padding-right: 30px;
}
.product-count__text.loading {
    visibility: hidden;
}
.product-count .loading-overlay__spinner {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
}
.product-count__text.loading + .loading-overlay__spinner {
    display: block;
}
.facets-container .disclosure-has-popup{
    position: relative;
}

/* List/Grid View */
.wbsortbar {
  padding: 15px 0;
  border-bottom: 1px solid var(--theme-color);
  margin: 0 0 30px;
  align-items: center;
}
.wbglbtn button{
  background-color: transparent;
  border: none;
  padding: 0;
  transition: 0.3s ease;
}
.wbglbtn button svg{
  width: 23px;
  height: 23px;
  fill: var(--theme-color);
  opacity:0.6;
}
.wblistgridbtn.active svg,.wblistgridbtn svg:hover{
  opacity:1;
  fill: var(--theme-color);
}
.listv.wblistgridbtn{
    margin: 0 15px;                         
}
.facets-container > .product-count {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.facets-container > .product-count #ProductCount {
    font-size: 16px;
    line-height: 1;
}
.facets__price .field .field__label {
    margin: 0 0 5px;
    display: inline-block;
}
/* Sort By */
.wbcatsort #FacetFiltersForm{
    display: flex;
    justify-content: right;
    align-items: center;
}
.facet-filters__label label{
    margin: 0 10px;
}
.wbcatsort .product-count__text{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 30px;
}
@media (max-width: 1199px){
    .facets__form .field__input{
        min-width: auto;
    }
}
@media screen and (max-width: 991px) {
    .listv.wblistgridbtn {
        margin: 0 8px;
    }
    .wbglbtn{
        padding-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .wbcatsort .product-count__text {
        display: none;
    }
    .facet-filters__sort,.facet-filters__label label{
        letter-spacing: 0;
    }
}
@media (max-width: 767px){
  .product-heading-column {
    display: none;
  }
  .active-facets-mobile .active-facets__button,.active-facets__button-remove{
      margin-top: 10px;
  }
  .facets-container .disclosure-has-popup{
      margin-bottom: 0;
  }
  .facets-container menu-drawer{
    float: left;
    width: 100%;
    margin: 0;
  }
  .product-sorting-row {
    column-gap: 20px;
  }
  #main-collection-filters >.product-filter-body {
    padding: 0;
  }
  .facets-container menu-drawer .mobile-facets__open{
    position: relative;
    z-index: 1;
  }
  .wbsortbar{
    margin-bottom: 15px;
  }
  .row .product-filter-column, .row .product-heading-right-column {
    padding: 0;
}
  
}
@media (max-width: 575px){
  .product-sorting-row{
    justify-content: end;
  }
}
@media (max-width: 991px) {
    .section-title-center {
        display:none;
    }
    .gaming-categories-section {
        padding: 30px 0px 100px !important;
    }
    .gaming-categories-section .section-title {
        padding: 20px 0px 0px !important;
    }
}
@media (max-width: 1300px) {
    .section-title-center {
        display: none;
    }

    .gaming-categories-section {
        padding: 25px 0px 100px !important;
    }

        .gaming-categories-section .section-title {
            padding: 20px 0px 0px !important;
        }
}
/************************  CART PAGE CSS **********************/
.cart-page-section {
    padding-top: 40px;
}

    .cart-page-section .back-btn span svg path {
        fill: var(--second-color);
    }

    .cart-page-section .section-title {
        margin-bottom: 50px;
    }

        .cart-page-section .section-title h2 {
            margin-top: 20px;
        }

            .cart-page-section .section-title h2 span {
                font-size: 18px;
            }

.product-option {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    margin-top: 10px;
}

    .product-option dt {
        font-weight: 500;
    }

    .product-option dd {
        margin-left: 5px;
        font-weight: 400;
    }

.remove-btn {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: top;
    margin-left: 8px;
}

    .remove-btn svg path {
        fill: red;
    }

.pro-img-cart {
    max-width: 100px;
}

.cart-summery {
    border: 1px solid var(--border-color);
    padding: 20px;
}

    .cart-summery ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

        .cart-summery ul li span:last-child {
            font-weight: 600;
        }

    .cart-summery .btn {
        padding: 15px 10px;
        display: block;
        width: 100%;
        margin-top: 20px;
        text-transform: capitalize;
    }
/****  TABLE CSS ****/
table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
}

    table tr {
        padding: 20px 0 0;
        border-bottom: 1px solid var(--border-color);
        display: block;
    }

        table tr:last-of-type {
            border-bottom: 0;
        }

        table tr th, table tr td {
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 500;
        }

        table tr th {
            padding-top: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--border-color);
            font-weight: 700;
            text-transform: uppercase;
        }

            table tr th:first-child, table tr td:first-child {
                padding-left: 0;
            }

                table tr td:first-child a {
                    vertical-align: middle;
                }

        table tr td {
            display: block;
            text-align: center;
            padding: 0 0 20px;
        }

@media (min-width: 992px) {
    .cart-tble tr th:first-child, .cart-tble tr td:first-child {
        width: 90px;
    }

    .cart-tble tr th:nth-child(2), .cart-tble tr td:nth-child(2) {
        width: 233px;
    }

    .cart-tble tr th:nth-child(4), .cart-tble tr td:nth-child(4) {
        width: 116px;
        padding-right: 9px;
    }
}

@media (max-width: 767px) {
    table tr td::before {
        content: attr(data-label);
        display: block;
        text-align: center;
        padding-bottom: 10px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        display: none;
    }

    .product-option {
        justify-content: center;
    }

    table .qty-spinner {
        justify-content: center;
        margin: 0 auto;
    }

    .remove-btn {
        height: 14px;
        width: 14px;
    }
}

@media (min-width: 768px) {
    table tr:first-child {
        border-top: none;
    }

    table tr {
        padding: 0;
        display: table-row;
    }

        table tr td {
            padding: 20px 10px 20px;
            display: table-cell;
            text-align: left;
        }

            table tr th:last-child, table tr td:last-child {
                text-align: right;
                padding-right: 0;
            }

            table tr th:nth-child(5), table tr td:nth-child(5) {
                text-align: right;
            }
}

/*==================== SHF Cart Page ====================*/
.cart-item__error {
    display: flex;
    align-items: flex-start;
}

.cart-item__price-wrapper {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.remove-btn a {
    display: block;
}

    .remove-btn a svg {
        height: 100%;
        width: 100%;
    }

.cart-page-section .cart__warnings {
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 30px 15px;
}

    .cart-page-section .cart__warnings .section-title {
        margin: 0;
    }

    .cart-page-section .cart__warnings .common-btn2 {
        display: inline-block;
    }

    .cart-page-section .cart__warnings .section-title {
        margin: 0;
    }

.cart-item__error-text:empty + svg {
    display: none;
}

cart-note.cart__note.field {
    margin: 0 0 30px;
    display: block;
}

    cart-note.cart__note.field label {
        margin: 0 0 15px;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
    }

.cart__footer .cart__note #Cart-note {
    min-height: 100px;
    padding: 10px;
}

.cart__footer-wrapper .cart__blocks {
    border: 1px solid var(--border-color);
    padding: 30px 15px;
    text-align: center;
    border-radius: 0px 20px 0px 20px;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    -ms-border-radius: 0px 20px 0px 20px;
    -o-border-radius: 0px 20px 0px 20px;
}

.cart__blocks .totals__subtotal {
    margin: 0 0 15px;
    line-height: 1;
    color: var(--theme-color);
}

.cart__footer ins {
    font-size: 20px;
}

.cart__blocks .totals__subtotal-value {
    font: var(--h5);
    margin: 0 0 20px;
    background: linear-gradient(75deg, var(--blue) 0%, var(--second-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

small.tax-note.caption-large.rte {
    margin: 0 0 10px;
    display: block;
    font-size: 14px;
}

.facets__item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.product-widget .acnav-list .facets__item {
    margin-top: 8px;
}

.prorow-lbl-qntty {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

    .prorow-lbl-qntty .qty-spinner {
        margin: 0 0 0 10px;
        background: var(--black);
        border-color: #788c6d;
        box-shadow: none;
    }
/*======================= SHF collection-list =====================*/
.card-wrapper {
    text-align: center;
    margin: 0 0 30px;
}

    .card-wrapper .card-content {
        margin: 10px 0 0;
        display: block;
    }

        .card-wrapper .card-content .card-heading {
            margin: 0 0 10px;
        }
.price--end{
    display:flex;
}
cart-item__totals .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}