
@{
    ViewData["Title"] = "Index";
}
<main id="MainContent" class="content-for-layout home-wrapper">
    <div class="shopify-section">
        <section class="common-banner-section">
            <div class="container">
                <div class="col-md-5 col-12 ">
                    <div class="common-banner-content">
                        <a href="javascript:history.go(-1)" class="back-btn">
                            <span class="svg-ic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 5" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5791 2.28954C10.5791 2.53299 10.3818 2.73035 10.1383 2.73035L1.52698 2.73048L2.5628 3.73673C2.73742 3.90636 2.74146 4.18544 2.57183 4.36005C2.40219 4.53467 2.12312 4.53871 1.9485 4.36908L0.133482 2.60587C0.0480403 2.52287 -0.000171489 2.40882 -0.000171488 2.2897C-0.000171486 2.17058 0.0480403 2.05653 0.133482 1.97353L1.9485 0.210321C2.12312 0.0406877 2.40219 0.044729 2.57183 0.219347C2.74146 0.393966 2.73742 0.673036 2.5628 0.842669L1.52702 1.84888L10.1383 1.84875C10.3817 1.84874 10.5791 2.04609 10.5791 2.28954Z" fill="white"></path>
                                </svg>
                            </span>
                            Back to Home
                        </a>
                        <div class="section-title">
                            <h2>Contact with us</h2>
                        </div>
                        <p> With that in mind, we strive to deliver accurate, trustworthy, and engaging content to our users. Our team of experts, researchers, and writers work tirelessly to curate high-quality articles, guides, and resources that cover various domains such as technology, science, health, business, and more. </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="shopify-section contact-page padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-12 contact-left-column">
                    <div class="contact-left-inner row">
                        <ul class="col-sm-6 col-12">
                            <li>
                                <h4>Call us:</h4>
                                <p>+994 77 777 77 77</p>
                            </li>
                            <li>
                                <h4>EMAIL:</h4>
                                <p>shop@company.com</p>
                            </li>
                        </ul>
                        <ul class="col-sm-6 col-12">
                            <li>
                                <h4>ADDRESS:</h4>
                                <p class="address">Nizami küçəsi 203B, AF Business House, 2-ci mərtəbə, Baku 1000</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-12 contact-right-column">
                    <div class="contact-right-inner">
                        <div class="section-title">
                            <h2>Contact form</h2>
                        </div>
                        <form id="ContactForm" class="contact-form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>First name<sup>*</sup>:</label>
                                        <input class="form-control" type="text" placeholder="First name" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Last name<sup>*</sup>:</label>
                                        <input class="form-control" type="text" placeholder="Last name" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Email<sup>*</sup>:</label>
                                        <input class="form-control" type="email" placeholder="shop@company.com" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label>Phone number<sup>*</sup>:</label>
                                        <input class="form-control" type="tel" placeholder="Phone number" required>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <input class="form-control" placeholder="How Can We Help?"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-12">
                                    <button type="submit" class="btn submit-btn">
                                        Send Message
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="14" viewBox="0 0 35 14" fill="none">
                                            <path d="M25.0749 14L35 7L25.0805 0L29.12 6.06667H0V7.93333H29.12L25.0749 14Z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-direction-sec padding-top">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4284905030872!2d49.85137057645717!3d40.377194958044015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1698305883630!5m2!1sen!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</main>