@{
    ViewData["Title"] = "Index";
    ViewData["IsCategory"] = true;
}

<main>
    <div class="section padding-top padding-bottom category-page">
        <div class="collection-list">
            <div class="container">
                <div class="section-title">
                    <h2 class="text-center">Categories</h2>
                </div>
                <div class="row" role="list">
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="card-wrapper">
                            <a href="product.html">
                                <img src="https://gaming-workdo.myshopify.com/cdn/shop/collections/hjt.png?v=1671786867" alt="All Collections" loading="lazy">
                            </a>
                            <div class="card-content">
                                <h5 class="card-heading full-unstyled-link">All Collections</h5>
                                <a href="product.html" class="btn">24 - Items</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>