@inject ILayoutService layoutService
@{
    Dictionary<string, string> settings = await layoutService.GetSettingAsync();
    List<BasketVM> basketVms = await layoutService.GetBasketsAsync();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Momentum</title>
    <link rel="icon" href="~/assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="~/assets/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="~/assets/vendor/slick/slick.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/component-facets.css">
</head>
<body>
    <style>
        .pro-large-img {
            height: 50vh;
            position: relative;
            width: 100%;
        }

            .pro-large-img img {
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
            }

        .ellipsis-3-lines {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
    <header id="section-header" class="site-header header-style-one" style=" background-color:@(ViewData["IsBlackHeader"] != null && (bool)ViewData["IsBlackHeader"] ? "black" : "") !important">
        <div id="main-navigationbar" class="main-navigationbar">
            <div class="container">
                <div class="navigationbar-row d-flex align-items-center">
                    <div id="menu-header-height" class="menu-items-col">
                        <div class="logo-col mobile-only">
                            <h1>
                                <a asp-controller="home" asp-action="index">
                                    <img src="~/assets/img/@settings.FirstOrDefault(s=>s.Key=="logo").Value" alt="logo">
                                </a>
                            </h1>
                        </div>
                        <ul class="main-nav">
                            <li class="menu-lnk has-item">
                                <a asp-controller="home" asp-action="index">Home</a>
                            </li>
                            <li class="menu-lnk has-item">
                                <a asp-controller="product" asp-action="index">Products</a>
                            </li>
                            <li class="menu-lnk has-item">
                                <a asp-controller="about" asp-action="index">About Us</a>
                            </li>
                            <li class="menu-lnk has-item">
                                <a asp-controller="contact" asp-action="index">Contact us</a>
                            </li>
                            <li class="menu-lnk has-item">
                                <a asp-controller="blog" asp-action="index">Blog</a>
                            </li>
                        </ul>
                        <div class="logo-col" style="padding-top:0px !important;">
                            <h1>
                                <a asp-controller="home" asp-action="index">
                                    <img src="~/assets/img/@settings.FirstOrDefault(s=>s.Key=="logo").Value" alt="logo">
                                </a>
                            </h1>
                        </div>
                        <ul class="menu-right">
                            <li class="search-header mobile-only">
                                <a href="search.html">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.47487 10.5131C8.48031 11.2863 7.23058 11.7466 5.87332 11.7466C2.62957 11.7466 0 9.11706 0 5.87332C0 2.62957 2.62957 0 5.87332 0C9.11706 0 11.7466 2.62957 11.7466 5.87332C11.7466 7.23058 11.2863 8.48031 10.5131 9.47487L12.785 11.7465C13.0717 12.0332 13.0717 12.4981 12.785 12.7848C12.4983 13.0715 12.0334 13.0715 11.7467 12.7848L9.47487 10.5131ZM10.2783 5.87332C10.2783 8.30612 8.30612 10.2783 5.87332 10.2783C3.44051 10.2783 1.46833 8.30612 1.46833 5.87332C1.46833 3.44051 3.44051 1.46833 5.87332 1.46833C8.30612 1.46833 10.2783 3.44051 10.2783 5.87332Z" fill="white"></path>
                                    </svg>
                                </a>
                            </li>
                            <li class="profile-header">
                                <a href="javascript:;" class="profile-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="white">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 7.04159C4.40592 7.04159 2.70833 8.73917 2.70833 10.8333V11.9166C2.70833 12.2157 2.46582 12.4583 2.16667 12.4583C1.86751 12.4583 1.625 12.2157 1.625 11.9166V10.8333C1.625 8.14086 3.80761 5.95825 6.5 5.95825C9.19239 5.95825 11.375 8.14086 11.375 10.8333V11.9166C11.375 12.2157 11.1325 12.4583 10.8333 12.4583C10.5342 12.4583 10.2917 12.2157 10.2917 11.9166V10.8333C10.2917 8.73917 8.59408 7.04159 6.5 7.04159Z" fill="white"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 5.95841C7.69662 5.95841 8.66667 4.98837 8.66667 3.79175C8.66667 2.59513 7.69662 1.62508 6.5 1.62508C5.30338 1.62508 4.33333 2.59513 4.33333 3.79175C4.33333 4.98837 5.30338 5.95841 6.5 5.95841ZM6.5 7.04175C8.29493 7.04175 9.75 5.58667 9.75 3.79175C9.75 1.99682 8.29493 0.541748 6.5 0.541748C4.70507 0.541748 3.25 1.99682 3.25 3.79175C3.25 5.58667 4.70507 7.04175 6.5 7.04175Z" fill="white"></path>
                                    </svg>
                                </a>
                                <div class="menu-dropdown">
                                    <ul>
                                        <li><a asp-controller="account" asp-action="login">Log in</a></li>
                                        <li><a asp-controller="account" asp-action="register">Register</a></li>

                                        <li class="headwish wishlist">
                                            <a href="wishlist.html" title="wishlist">Wishlist(<span class="wishcount">0</span>)</a>
                                        </li>
                                        <li class="headcomp compare-header">
                                            <a href="compare.html" class="compare">
                                                Compare(<span>0</span>)
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="cart-header">
                                <div class="main-cart" id="cart-icon-bubble">
                                    <a class="hcart">
                                        <span class="icon-label">My Cart: <b>0.00<span class="currency-type">USD</span></b></span>
                                        <svg width="23" height="23" viewBox="0 0 19 19" fill="white" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91797 15.834C7.91797 17.1457 6.85465 18.209 5.54297 18.209C4.23129 18.209 3.16797 17.1457 3.16797 15.834C3.16797 14.5223 4.23129 13.459 5.54297 13.459C6.85465 13.459 7.91797 14.5223 7.91797 15.834ZM6.33464 15.834C6.33464 16.2712 5.98019 16.6257 5.54297 16.6257C5.10574 16.6257 4.7513 16.2712 4.7513 15.834C4.7513 15.3968 5.10574 15.0423 5.54297 15.0423C5.98019 15.0423 6.33464 15.3968 6.33464 15.834Z" fill="white"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8346 15.834C15.8346 17.1457 14.7713 18.209 13.4596 18.209C12.148 18.209 11.0846 17.1457 11.0846 15.834C11.0846 14.5223 12.148 13.459 13.4596 13.459C14.7713 13.459 15.8346 14.5223 15.8346 15.834ZM14.2513 15.834C14.2513 16.2712 13.8969 16.6257 13.4596 16.6257C13.0224 16.6257 12.668 16.2712 12.668 15.834C12.668 15.3968 13.0224 15.0423 13.4596 15.0423C13.8969 15.0423 14.2513 15.3968 14.2513 15.834Z" fill="white"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66578 2.01983C1.86132 1.62876 2.33685 1.47025 2.72792 1.66578L3.52236 2.06301C4.25803 2.43084 4.75101 3.15312 4.82547 3.97225L4.86335 4.38888C4.88188 4.59276 5.05283 4.74887 5.25756 4.74887H15.702C17.0838 4.74887 18.0403 6.12909 17.5551 7.42297L16.1671 11.1245C15.8195 12.0514 14.9333 12.6655 13.9433 12.6655H6.19479C4.96644 12.6655 3.94076 11.7289 3.82955 10.5056L3.24864 4.1156C3.22382 3.84255 3.05949 3.60179 2.81427 3.47918L2.01983 3.08196C1.62876 2.88643 1.47025 2.41089 1.66578 2.01983ZM5.47346 6.3322C5.2407 6.3322 5.05818 6.53207 5.07926 6.76388L5.40638 10.3622C5.44345 10.77 5.78534 11.0822 6.19479 11.0822H13.9433C14.2733 11.0822 14.5687 10.8775 14.6845 10.5685L16.0726 6.86702C16.1696 6.60825 15.9783 6.3322 15.702 6.3322H5.47346Z" fill="white"></path>
                                        </svg>
                                        <span class="count-1">0</span>
                                    </a>
                                </div>
                            </li>
                            <div class="mobile-menu">
                                <button class="mobile-menu-button" id="menu">
                                    <div class="one"></div>
                                    <div class="two"></div>
                                    <div class="three"></div>
                                </button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="announcebar" class="announcebar">
            <div class="container">
                <div class="announce-row">
                    <div class="annoucebar-left"></div>
                    <div class="search-form-wrapper">
                        <div class="field form-inputs">
                            <button type="submit" class="search__button" id="btn-submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 13 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.47487 10.5039C8.48031 11.2764 7.23058 11.7363 5.87332 11.7363C2.62957 11.7363 0 9.10906 0 5.86816C0 2.62727 2.62957 0 5.87332 0C9.11706 0 11.7466 2.62727 11.7466 5.86816C11.7466 7.22423 11.2863 8.47286 10.5131 9.46655L12.785 11.7362C13.0717 12.0227 13.0717 12.4871 12.785 12.7736C12.4983 13.06 12.0334 13.06 11.7467 12.7736L9.47487 10.5039ZM10.2783 5.86816C10.2783 8.29884 8.30612 10.2693 5.87332 10.2693C3.44051 10.2693 1.46833 8.29884 1.46833 5.86816C1.46833 3.43749 3.44051 1.46704 5.87332 1.46704C8.30612 1.46704 10.2783 3.43749 10.2783 5.86816Z" fill="#C6C6C6"></path>
                                </svg>
                            </button>
                            <input class="search__input field__input form-control" placeholder="Search Product...">
                        </div>
                        <div class="predictive-search predictive-search--header">
                            <div class="predictive-search__loading-state">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="announcebar-right"><a href="category.html">All Categories</a></div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-wrapper">
            <div class="menu-close-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18">
                    <path fill="#24272a" d="M19.95 16.75l-.05-.4-1.2-1-5.2-4.2c-.1-.05-.3-.2-.6-.5l-.7-.55c-.15-.1-.5-.45-1-1.1l-.1-.1c.2-.15.4-.35.6-.55l1.95-1.85 1.1-1c1-1 1.7-1.65 2.1-1.9l.5-.35c.4-.25.65-.45.75-.45.2-.15.45-.35.65-.6s.3-.5.3-.7l-.3-.65c-.55.2-1.2.65-2.05 1.35-.85.75-1.65 1.55-2.5 2.5-.8.9-1.6 1.65-2.4 2.3-.8.65-1.4.95-1.9 1-.15 0-1.5-1.05-4.1-3.2C3.1 2.6 1.45 1.2.7.55L.45.1c-.1.05-.2.15-.3.3C.05.55 0 .7 0 .85l.05.35.05.4 1.2 1 5.2 4.15c.1.05.3.2.6.5l.7.6c.15.1.5.45 1 1.1l.1.1c-.2.15-.4.35-.6.55l-1.95 1.85-1.1 1c-1 1-1.7 1.65-2.1 1.9l-.5.35c-.4.25-.65.45-.75.45-.25.15-.45.35-.65.6-.15.3-.25.55-.25.75l.3.65c.55-.2 1.2-.65 2.05-1.35.85-.75 1.65-1.55 2.5-2.5.8-.9 1.6-1.65 2.4-2.3.8-.65 1.4-.95 1.9-1 .15 0 1.5 1.05 4.1 3.2 2.6 2.15 4.3 3.55 5.05 4.2l.2.45c.1-.05.2-.15.3-.3.1-.15.15-.3.15-.45z">
                    </path>
                </svg>
            </div>
        </div>
        <script>
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                    document.getElementById("menu-header-height").style.transition = ".4s";
                    document.getElementById("section-header").style.background = "black";
                    document.getElementById("menu-header-height").style.padding = "10px 0px";
                    document.getElementById("announcebar").style.display = "none";
                } else {
                    document.getElementById("menu-header-height").style.transition = ".4s";
                    document.getElementById("section-header").style.background = '@((bool)(ViewData["IsBlackHeader"] ?? false) ? "black" : "transparent")';
                    document.getElementById("menu-header-height").style.padding = "15px 0px";
                    document.getElementById("announcebar").style.display = "block";
                    document.getElementById("section-header").style.position = "fixed";
                }
            }
        </script>
    </header>



        @RenderBody()



    <footer class="site-footer">
        <img src="//gaming-workdo.myshopify.com/cdn/shop/files/footer-ring-right.png?v=1670848830" class="footer-ring-1" alt="image">
        <img src="//gaming-workdo.myshopify.com/cdn/shop/files/footer-ring-left.png?v=1670848818" class="footer-ring-2" alt="image">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col footer-subscribe-col">
                    <div class="footer-widget">
                        <img src="~/assets/img/@settings.FirstOrDefault(s=>s.Key=="logo").Value" class="footer-logo" alt="image" style="margin-left:-17px !important;">
                        <h3>Reach out &amp; let your <b> mind explore </b> </h3>
                        <p>I also love the challenge of trying to beat a difficult game or master a new skill.</p>
                    </div>
                </div>
                <div class="footer-col footer-link">
                    <div class="footer-widget">
                        <h4>Navigation:</h4>
                        <ul>
                            <li><a href="search.html">Search</a></li>

                            <li><a href="categories.html">All Categories</a></li>

                            <li><a href="product.html">All Products</a></li>

                            <li><a href="blog.html">Blog Page</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col footer-link">
                    <div class="footer-widget">
                        <h4>About Us:</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>

                            <li><a href="contact-us.html">Contact with us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-col social-icons">
                    <div class="footer-widget">
                        <h4> Share: </h4>
                        <ul class="d-flex align-items-center">
                            <li>
                                <a href="https://www.youtube.com/@settings.FirstOrDefault(s=>s.Key=="youtube").Value" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="7" viewBox="0 0 8 7" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5004 1.19968C1.99689 1.11278 2.76195 1.03252 3.8927 1.03252C5.02346 1.03252 5.78851 1.11278 6.28501 1.19968C6.62063 1.25842 6.85901 1.58973 6.85901 2.06374V5.00695C6.85901 5.48095 6.62063 5.81226 6.28501 5.871C5.78851 5.9579 5.02346 6.03817 3.8927 6.03817C2.76195 6.03817 1.99689 5.9579 1.5004 5.871C1.16477 5.81226 0.926392 5.48095 0.926392 5.00695V2.06374C0.926392 1.58973 1.16477 1.25842 1.5004 1.19968ZM3.8927 0.198242C2.73171 0.198242 1.92771 0.280581 1.3864 0.37532C0.611825 0.510886 0.184814 1.27374 0.184814 2.06374V5.00695C0.184814 5.79694 0.611825 6.5598 1.3864 6.69536C1.92771 6.7901 2.73171 6.87244 3.8927 6.87244C5.05369 6.87244 5.8577 6.7901 6.39901 6.69536C7.17358 6.5598 7.60059 5.79694 7.60059 5.00695V2.06374C7.60059 1.27374 7.17358 0.510886 6.39901 0.37532C5.8577 0.280581 5.05369 0.198242 3.8927 0.198242ZM3.34695 2.33329C3.46752 2.2607 3.61381 2.26865 3.72759 2.35399L4.83996 3.18826C4.94311 3.26563 5.00507 3.39587 5.00507 3.53534C5.00507 3.67481 4.94311 3.80506 4.83996 3.88242L3.72759 4.7167C3.61381 4.80203 3.46752 4.80999 3.34695 4.7374C3.22639 4.66481 3.15112 4.52346 3.15112 4.36962V2.70107C3.15112 2.54723 3.22639 2.40588 3.34695 2.33329Z" fill="black"></path>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.facebook.com/@settings.FirstOrDefault(s=>s.Key=="facebook").Value" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.59589 0.985352C2.89871 0.985352 2.03712 1.19755 1.34026 1.68137C0.628981 2.1752 0.0939941 2.95132 0.0939941 4.03641C0.0939941 4.69785 0.333302 5.19927 0.575175 5.53513C0.679567 5.68009 0.784512 5.79444 0.871299 5.8785L0.518283 7.18567C0.47926 7.33016 0.534674 7.48246 0.660177 7.57566C0.785681 7.66886 0.958308 7.68589 1.10222 7.61928L2.58893 6.93115C3.43108 7.19234 4.58488 7.10329 5.54459 6.6951C6.59674 6.24759 7.50977 5.372 7.50977 4.03641C7.50977 2.8556 6.94713 2.06818 6.14857 1.59396C5.37529 1.13476 4.41181 0.985352 3.59589 0.985352ZM1.72964 5.84513C1.76961 5.69716 1.71047 5.54147 1.57953 5.44919L1.57807 5.44812C1.57552 5.44623 1.57026 5.44227 1.56267 5.43625C1.54747 5.42419 1.52309 5.40398 1.49253 5.37569C1.4312 5.31892 1.34635 5.23087 1.26076 5.11203C1.09065 4.87581 0.917969 4.51913 0.917969 4.03641C0.917969 3.21459 1.30995 2.65587 1.83464 2.29159C2.37374 1.9173 3.0571 1.74812 3.59589 1.74812C4.32473 1.74812 5.11219 1.88474 5.70367 2.23598C6.26986 2.57221 6.6858 3.11962 6.6858 4.03641C6.6858 4.98912 6.05387 5.63906 5.20058 6.00199C4.32735 6.3734 3.31814 6.3989 2.72821 6.16485C2.61682 6.12066 2.49007 6.12411 2.38167 6.17428L1.53491 6.56621L1.72964 5.84513ZM3.64726 3.35722C3.48334 3.23582 3.24702 3.24794 3.09858 3.38535L2.2746 4.14812C2.11371 4.29706 2.11371 4.53854 2.2746 4.68748C2.43549 4.83642 2.69635 4.83642 2.85724 4.68748L3.42047 4.16608L4.1625 4.71561C4.32642 4.83701 4.56274 4.82489 4.71118 4.68748L5.53516 3.92471C5.69605 3.77577 5.69605 3.53429 5.53516 3.38535C5.37427 3.23642 5.11341 3.23642 4.95252 3.38535L4.38929 3.90675L3.64726 3.35722Z" fill="white"></path>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/@settings.FirstOrDefault(s=>s.Key=="instagram").Value" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.746338 3.26117C0.746338 1.90962 1.74238 0.813965 2.97107 0.813965H5.93738C7.16607 0.813965 8.16211 1.90962 8.16211 3.26117V6.52411C8.16211 7.87567 7.16607 8.97132 5.93738 8.97132H2.97107C1.74238 8.97132 0.746338 7.87567 0.746338 6.52411V3.26117ZM2.97107 1.6297C2.15195 1.6297 1.48792 2.36013 1.48792 3.26117V6.52411C1.48792 7.42515 2.15195 8.15558 2.97107 8.15558H5.93738C6.75651 8.15558 7.42054 7.42515 7.42054 6.52411V3.26117C7.42054 2.36013 6.75651 1.6297 5.93738 1.6297H2.97107ZM3.71265 4.89264C3.71265 5.34316 4.04466 5.70838 4.45423 5.70838C4.86379 5.70838 5.1958 5.34316 5.1958 4.89264C5.1958 4.44212 4.86379 4.07691 4.45423 4.07691C4.04466 4.07691 3.71265 4.44212 3.71265 4.89264ZM4.45423 3.26117C3.6351 3.26117 2.97107 3.99161 2.97107 4.89264C2.97107 5.79368 3.6351 6.52411 4.45423 6.52411C5.27335 6.52411 5.93738 5.79368 5.93738 4.89264C5.93738 3.99161 5.27335 3.26117 4.45423 3.26117ZM6.12278 2.44544C5.8156 2.44544 5.56659 2.71935 5.56659 3.05724C5.56659 3.39513 5.8156 3.66904 6.12278 3.66904C6.42995 3.66904 6.67896 3.39513 6.67896 3.05724C6.67896 2.71935 6.42995 2.44544 6.12278 2.44544Z" fill="white"></path>
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.x.com/@settings.FirstOrDefault(s=>s.Key=="x").Value" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.43068 2.01665C4.20222 2.37906 4.1251 2.8042 4.1251 3.00598C4.1251 3.13893 4.05871 3.26322 3.94788 3.33775C3.83705 3.41229 3.69622 3.42736 3.57195 3.37798C3.49068 3.34569 3.40013 3.31286 3.30222 3.27736C3.04857 3.1854 2.74553 3.07553 2.42645 2.91071C2.1024 2.74333 1.74929 2.51601 1.34932 2.17847C1.35429 2.32915 1.3878 2.46715 1.4441 2.59504C1.57555 2.8936 1.85426 3.18878 2.31578 3.46368C2.44206 3.5389 2.51704 3.67648 2.51141 3.82262C2.50578 3.96876 2.42042 4.10025 2.28873 4.16565L2.28829 4.16587L2.28781 4.16611L2.28674 4.16664L2.28413 4.16791L2.27709 4.17128C2.27159 4.17388 2.2645 4.17717 2.25585 4.18105C2.23857 4.1888 2.21504 4.19893 2.18567 4.2106C2.12701 4.23391 2.04464 4.26353 1.94186 4.2927C1.83376 4.32338 1.70214 4.35382 1.55103 4.37576C1.63725 4.6799 1.82943 4.86974 2.03651 5.01314C2.15828 5.09747 2.27609 5.15954 2.3945 5.22192C2.42395 5.23743 2.45344 5.25297 2.48303 5.26887C2.54769 5.30362 2.6327 5.35057 2.70301 5.40644C2.75726 5.44955 2.91505 5.5834 2.91505 5.81057C2.91505 5.95582 2.84873 6.06901 2.80675 6.12951C2.75764 6.20029 2.69565 6.26416 2.63075 6.32C2.49982 6.43266 2.32405 6.54091 2.11567 6.62959C1.87572 6.7317 1.5828 6.812 1.24795 6.84092C1.27538 6.85553 1.30453 6.86949 1.33546 6.8828C1.62904 7.00917 2.0584 7.06088 2.57563 7.01418C3.60112 6.92159 4.81769 6.45675 5.65386 5.72801C6.29485 4.9926 6.56633 4.26495 6.67932 3.72566C6.73648 3.45287 6.75314 3.22769 6.75589 3.07399C6.75726 2.99721 6.75516 2.93854 6.75295 2.901C6.75185 2.88224 6.75072 2.8688 6.75 2.86105L6.74927 2.85377C6.7374 2.75588 6.76227 2.65684 6.81918 2.57602L6.74938 2.85466L6.74947 2.85535L6.81918 2.57602L7.56115 2.91575C7.55501 2.92507 7.56671 2.90741 7.56115 2.91575C7.56115 2.91575 7.56366 3.02146 7.56246 3.08822C7.55894 3.28509 7.53786 3.56074 7.4691 3.88893C7.33124 4.54692 7.00197 5.41392 6.24437 6.27462C6.23322 6.28729 6.22127 6.29925 6.2086 6.31043C5.22912 7.17475 3.83408 7.70517 2.64866 7.8122C2.05654 7.86567 1.47745 7.81722 1.01472 7.61805C0.535573 7.41182 0.16601 7.03203 0.0941828 6.46125C0.0783854 6.33572 0.123206 6.21014 0.215083 6.12253C0.30696 6.03492 0.435099 5.99555 0.560729 6.01635C1.08547 6.10322 1.51183 6.0148 1.79799 5.89303C1.82652 5.88089 1.87856 5.85614 1.87856 5.85614C1.87856 5.85614 1.67913 5.74248 1.57516 5.67048C1.14954 5.37574 0.696623 4.87758 0.696623 4.00762C0.696623 3.78635 0.877209 3.60697 1.09997 3.60697C1.1293 3.60697 1.15807 3.60641 1.18623 3.60537C0.980746 3.39881 0.816669 3.16978 0.704987 2.91611C0.478571 2.40183 0.490404 1.8383 0.725472 1.25456C0.775826 1.12951 0.886059 1.03797 1.01887 1.01089C1.15169 0.983807 1.28931 1.02482 1.38519 1.12005C1.96492 1.69592 2.41956 2.00398 2.79863 2.19978C3.01639 2.31226 3.20314 2.38638 3.38992 2.4552C3.45466 2.18216 3.5678 1.87559 3.74696 1.59139C4.07787 1.06644 4.64886 0.602051 5.53683 0.602051C6.08765 0.602051 6.44208 0.871683 6.66526 1.05648C6.69216 1.07875 6.71548 1.09823 6.73598 1.11534C6.78757 1.15843 6.82121 1.18652 6.84863 1.20638C7.032 1.12005 7.19755 1.05957 7.34477 1.0317C7.50127 1.00208 7.72681 0.992993 7.91251 1.14068C8.10791 1.29608 8.13054 1.51961 8.12383 1.652C8.11681 1.79055 8.07528 1.9293 8.03161 2.04491C7.94242 2.28107 7.80051 2.5321 7.68986 2.71311C7.6414 2.79239 7.59664 2.86193 7.56115 2.91575C7.56822 3.00322 7.56038 2.90749 7.56115 2.91575L6.81918 2.57602L6.81964 2.57536L6.82196 2.57204L6.832 2.55751C6.84098 2.54445 6.85428 2.52491 6.87085 2.50003C6.90408 2.45016 6.95002 2.3795 7.00032 2.29722C7.07179 2.18029 7.14639 2.04902 7.20619 1.92485C7.18193 1.93614 7.15621 1.9485 7.12899 1.96202C7.12353 1.96474 7.118 1.96733 7.11242 1.9698C6.86563 2.07878 6.64329 2.0149 6.48718 1.92709C6.3794 1.86647 6.26937 1.77361 6.18995 1.70657C6.17506 1.69401 6.16125 1.68235 6.14873 1.67199C5.95986 1.5156 5.79272 1.40336 5.53683 1.40336C4.98354 1.40336 4.64699 1.67351 4.43068 2.01665Z" fill="white"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <p>@Html.Raw(settings.FirstOrDefault(x=>x.Key=="copyright").Value)</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="modalBackdrop" class="modal-backdrop"></div>

    <!-- MINI CART START -->
    <div id="cart-modal" class="cart-modal">
        @await Html.PartialAsync("_BasketPartial", basketVms)
    </div>
    <!-- MINI CART END -->

    <!-- MOBILE NAVBAR START -->
    <div id="menu-wrapper" class="mobile-menu-wrapper">
        <div class="menu-close-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18">
                <path fill="#24272a" d="M19.95 16.75l-.05-.4-1.2-1-5.2-4.2c-.1-.05-.3-.2-.6-.5l-.7-.55c-.15-.1-.5-.45-1-1.1l-.1-.1c.2-.15.4-.35.6-.55l1.95-1.85 1.1-1c1-1 1.7-1.65 2.1-1.9l.5-.35c.4-.25.65-.45.75-.45.2-.15.45-.35.65-.6s.3-.5.3-.7l-.3-.65c-.55.2-1.2.65-2.05 1.35-.85.75-1.65 1.55-2.5 2.5-.8.9-1.6 1.65-2.4 2.3-.8.65-1.4.95-1.9 1-.15 0-1.5-1.05-4.1-3.2C3.1 2.6 1.45 1.2.7.55L.45.1c-.1.05-.2.15-.3.3C.05.55 0 .7 0 .85l.05.35.05.4 1.2 1 5.2 4.15c.1.05.3.2.6.5l.7.6c.15.1.5.45 1 1.1l.1.1c-.2.15-.4.35-.6.55l-1.95 1.85-1.1 1c-1 1-1.7 1.65-2.1 1.9l-.5.35c-.4.25-.65.45-.75.45-.25.15-.45.35-.65.6-.15.3-.25.55-.25.75l.3.65c.55-.2 1.2-.65 2.05-1.35.85-.75 1.65-1.55 2.5-2.5.8-.9 1.6-1.65 2.4-2.3.8-.65 1.4-.95 1.9-1 .15 0 1.5 1.05 4.1 3.2 2.6 2.15 4.3 3.55 5.05 4.2l.2.45c.1-.05.2-.15.3-.3.1-.15.15-.3.15-.45z">
                </path>
            </svg>
        </div>
        <div class="mobile-menu-bar">
            <ul>
                <li class="mobile-item">
                    <a class="acnav-label" asp-controller="home" asp-action="index">Home</a>
                </li>

                <li class="mobile-item">
                    <a class="acnav-label" asp-controller="product" asp-action="index">Products</a>
                </li>

                <li class="mobile-item">
                    <a class="acnav-label" asp-controller="blog" asp-action="index">Blog</a>
                </li>

                <li class="mobile-item">
                    <a class="acnav-label" asp-controller="about" asp-action="index">About Us</a>
                </li>

                <li class="mobile-item">
                    <a class="acnav-label" asp-controller="contact" asp-action="index">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- MOBILE NAVBAR END -->

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- ADD TO CART NOTIFICATION START -->
    <div class="cart-notification-wrapper page-width">
        <div id="cart-notification" class="cart-notification focus-inset animate">
            <div class="cart-notification__header">
                <h6 class="cart-notification__heading caption-large text-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                    Item added to your cart
                </h6>
                <button type="button" class="cart-notification__close modal__close-button link link--text focus-inset">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div id="cart-notification-product" class="cart-notification-product">
                <div class="cart-notification-product__image global-media-settings">
                    <img src="//cdn.shopify.com/s/files/1/0688/5192/5313/products/1_50862e3f-4e56-4d7c-9220-04cde28aca6d_120x.png?v=1671448019" alt="Colossus Ergonomic Gaming Office Chair">
                </div>
                <div class="cart-notification-cnt">
                    <h3 class="cart-notification-product__name">Colossus Ergonomic Gaming Office Chair</h3>
                    <div class="product-option">
                        <dt>Color: </dt>
                        <dd>White</dd>
                    </div>
                </div>
            </div>
            <div class="cart-notification__links">
                <a href="" id="cart-notification-button" class="outline-btn">View my cart (1)</a>
                <form id="cart-notification-form">
                    <button class="btn" name="checkout">Proceed to checkout</button>
                </form>
                <button type="button" class="btn-link">Continue shopping</button>
            </div>
        </div>
    </div>
    <!-- ADD TO CART NOTIFICATION END -->
    <!-- DETAIL MODAL PAGE -->
    <div id="quickview-popup" class="quickview-popup home-quick-view">
        <a class="quickview-close">X</a>
        <div class="quickview_popup_data">

        </div>
    </div>
    <!-- DETAIL MODAL END -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/detail.js"></script>
    <script>
        $(document).ready(function () {
            var sortByDropdown = $("#SortBy");

            var sortBy = localStorage.getItem("sortBy");
            if (sortBy) {
                sortByDropdown.val(sortBy);
                sortByDropdown.trigger('change');
            }
            sortByDropdown.on('change', function (event) {

                sortBy = $(this).val();

                localStorage.setItem("sortBy", sortBy);

                var currentPage = $('.pagination .active a').text();

                fetch(`/product/Index?sortBy=${sortBy}&currentPage=${currentPage}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.text();
                    })
                    .then(result => {
                        $("#Product-Div").html(result);
                    })
                    .catch(error => {
                        console.error("Fetch error:", error);
                    });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            const labels = $('.acnav-label');
            const lists = $('.acnav-list');

            labels.each(function (index) {
                $(this).on('click', function () {
                    console.log('Clicked on label', index);

                    if (lists[index].style.display !== 'block') {
                        lists[index].style.display = 'block';
                        $(this).addClass('clicked');
                    } else {
                        lists[index].style.display = 'none';
                        $(this).removeClass('clicked');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var backdrop = document.getElementById('modalBackdrop');

            $(".hcart").on('click', function () {
                document.getElementById('cart-modal').classList.add('cartOpen');
                document.getElementById('cart-header').classList.add('cart-header');
                document.getElementById('cart-header').classList.remove('d-none');
                $('body').addClass('mobile-open no-scroll');
                backdrop.style.display = "block";
            })
            $(document).on('click', '.closecart', function () {
                document.getElementById('cart-modal').classList.remove('cartOpen');
                document.getElementById('cart-header').classList.remove('cart-header');
                document.getElementById('cart-header').classList.add('d-none');
                $('body').removeClass('mobile-open no-scroll');
                backdrop.style.display = "none";
            });
            backdrop.addEventListener('click', function (e) {
                if (e.target === backdrop) {
                    document.getElementById('cart-modal').classList.remove('cartOpen');
                    document.getElementById('cart-header').classList.remove('cart-header');
                    document.getElementById('cart-header').classList.add('d-none');
                    document.body.classList.remove('modal-open');
                    $('body').removeClass('mobile-open no-scroll');
                    backdrop.style.display = "none";
                }
            });
        })
    </script>
    @if (ViewData["IsProductDetail"] != null && (bool)ViewData["IsProductDetail"]==true)
    {
        <script>
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots: false,
                fade: true,
                asNavFor: '.slider-nav',
            });
            $('.slider-nav').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                arrows: true,
                dots: false,
                centerMode: true,
                focusOnSelect: true,
                draggable: true,
                vertical: true,
                infinite: true,
            });
        </script>

        <script>
            const details = document.querySelectorAll('.mobile-facets__details');

            details.forEach(detail => {
                const summary = detail.querySelector('.mobile-facets__summary');
                const submenu = detail.querySelector('.mobile-facets__submenu');
                const closesubmenu = detail.querySelector('.mobile-facets__close-button');
                summary.addEventListener('click', function () {
                    submenu.classList.add('show');
                });
                closesubmenu.addEventListener('click', function (e) {
                    e.preventDefault();
                    submenu.classList.remove('show');
                });
            });
        </script>
    }
</body>
</html>