@using Microsoft.AspNetCore.Antiforgery;
@model Product
@inject IAntiforgery Xsrf

<style>
    #wishlist-notification-product {
        display: flex;
    }

    .image-container {
        width: 250px;
        height: 147px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .product-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>
<div class="wishlist-notification__header">
    <h6 class="wishlist-notification__heading caption-large text-body">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
            <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
        Item added to your wishlist
    </h6>
    <button type="button" class="wishlist-notification__close modal__close-button link link--text focus-inset">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
    </button>
</div>
<div id="wishlist-notification-product" class="wishlist-notification-product">
    <div class="image-container">
        <img src="~/assets/img/product/@Model.MainImage" alt="@Model.Title" class="product-image">
    </div>
    <div class="wishlist-notification-cnt">
        <h3 class="wishlist-notification-product__name">@Model.Title</h3>
        <div class="product-option">
            <dt>Color: </dt>
            <dd>
                @string.Join(", ", Model.ProductColors.Select(pc => pc.Color.Title))
            </dd>
        </div>
    </div>
</div>
<div class="wishlist-notification__links">
    <a asp-controller="wishlist" asp-action="index" id="wishlist-notification-button" class="outline-btn">View my wishlist</a>
</div>

<script>
    var wishlistNotif = document.getElementById('wishlistNotification');
    var wishlistNotifClose = document.querySelector('.wishlist-notification__close');

    function hidewishlistNotification() {
        if (wishlistNotif) {
            wishlistNotif.style.transform = 'translateY(-100%)';
            wishlistNotif.style.opacity = '0';
        } else {
            console.error("Element with id 'wishlist-notification' not found.");
        }
    }

    if (wishlistNotifClose) {
        wishlistNotifClose.addEventListener('click', function () {
            hidewishlistNotification();
        });
    } else {
        console.error("Element with class 'wishlist-notification__close' not found.");
    }
</script>