
@{
    ViewData["Title"] = "ForgotPassword";
    ViewData["IsBlackHeader"] = true;
}

<main id="MainContent" class="content-for-layout home-wrapper">
    <section class="register-page padding-bottom padding-top" style="padding-top:250px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-12">
                    <div id="recover" class="section-title text-center login-title">
                        <h2>Reset your password</h2>
                    </div>
                    <div class="recover-password form-wrapper">
                        <form>
                            <div class="form-container">
                                <div class="form-heading">
                                    <h4 class="recover-content">We will send you an email to reset your password</h4>
                                </div>
                            </div>
                            <div class="form-container">
                                <div class="field">
                                    <input type="email" name="email" id="RecoverEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-container">
                                <button class="btn">Submit</button>
                                <a href="login.html" class="btn">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>